<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="account_box stl_welcome">
                <div class="">Perfil de  {{infoPerfil.Result.usuario.nombreUsuario}}</div>
                <div class="">codUsuario {{infoPerfil.Result.usuario.idUsuario}}</div>
                <div class="">correoElectronico {{infoPerfil.Result.usuario.correoElectronico}}</div>
                <div class="">idUsuario {{infoPerfil.Result.usuario.idUsuario}}</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
        </div>
        <div class="col"> 
        </div>
    </div>
</div>