<app-top-bar></app-top-bar>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="position-logo">
                <img src="/assets/img/Login/norfipc-logo.svg" alt="" width="350" height="250">
            </div>
        </div>
        <div class="col">
            <div class="account_box">
                <h5 class="stl_welcome">¡{{user}}!</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="position-logo">
                <h4 class="stl_info">Sistema de seleccion y seguimiento de candidatos.</h4>
                <span class="stl_info">para mas informaci&oacute;n visita nuesta página web de DSB mobile <a class="stl_info" href="https://www.dsbmobile.com/">https://www.dsbmobile.com/</a>
                </span>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>