<div class="h-100vh">          
  <div class="home-table">
      <div class="home-table-center">
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-5">
                      <div class="account_box bg-gradient">
                          <img src="/assets/img/Login/block_3.svg" alt="" class="img-fluid mx-auto d-block" style="height: 42px;    margin-bottom: 15px;">
                          <div class="text-info">
                            ¡Bienvenido al centro de Control de acceso!
                          </div>
                          <form [formGroup]="registerForm" (ngSubmit)="register()">
                              <div class="col-lg-12 mt-3">
                                  <!-- <label class="text-white">Email</label> -->
                                  <input type="email" formControlName="email" class="form-control trial-input" placeholder="Correo Electronico">
                              </div>
                              <div class="col-lg-12 mt-3">
                                  <!-- <label class="text-white">Password</label> -->
                                  <input type="password" formControlName="password" class="form-control trial-input" placeholder="Contraseña">
                              </div>
                              <div class="col-lg-12 mt-3">
                                  <div class="custom-control custom-checkbox">
                                      <input type="checkbox" class="custom-control-input" id="customCheck1">
                                      <label class="custom-control-label text-white" for="customCheck1">Recordar mi cuenta</label>
                                  </div>
                              </div>
                              <div class="col-lg-12">
                                  <button class="btn btn-custom w-100 mt-3">Entrar</button>
                              </div>
                          </form>
                           <div class="col-lg-12" *ngIf="errorLogin">
                                <span class="error">{{errorAuth}}</span>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
